cyclistic-case-study/data/extracted/202411-divvy-tripdata.csv
cyclistic-case-study/data/extracted/202412-divvy-tripdata.csv
cyclistic-case-study/data/extracted/202501-divvy-tripdata.csv
cyclistic-case-study/data/extracted/202502-divvy-tripdata.csv
cyclistic-case-study/data/extracted/202503-divvy-tripdata.csv
cyclistic-case-study/data/extracted/202504-divvy-tripdata.csv
cyclistic-case-study/data/extracted/202505-divvy-tripdata.csv
cyclistic-case-study/data/extracted/202510-divvy-tripdata.csv
cyclistic-case-study/data/extracted/202507-divvy-tripdata.csv
cyclistic-case-study/data/extracted/202506-divvy-tripdata.csv
cyclistic-case-study/data/extracted/202508-divvy-tripdata.csv
cyclistic-case-study/data/extracted/202509-divvy-tripdata.csv
cyclistic-case-study/data/raw/202411-divvy-tripdata.zip
cyclistic-case-study/data/processed/cyclistic_clean_data.csv
cyclistic-case-study/data/raw/202412-divvy-tripdata.zip
cyclistic-case-study/data/raw/202501-divvy-tripdata.zip
cyclistic-case-study/data/raw/202502-divvy-tripdata.zip
cyclistic-case-study/data/raw/202503-divvy-tripdata.zip
cyclistic-case-study/data/raw/202504-divvy-tripdata.zip
cyclistic-case-study/data/raw/202505-divvy-tripdata.zip
cyclistic-case-study/data/raw/202506-divvy-tripdata.zip
cyclistic-case-study/data/raw/202507-divvy-tripdata.zip
cyclistic-case-study/data/raw/202508-divvy-tripdata.zip
cyclistic-case-study/data/raw/202509-divvy-tripdata.zip
cyclistic-case-study/data/raw/202510-divvy-tripdata.zip
